<h1>Cart</h1>

<% if cart.contents == {} %>
  <h2>"Your cart is empty"</h2>
<% else %>
  <% @items.each do |item, quantity|  %>
    <section id= "cart-<%= item.id %>">
      <p><%= item.name %></p>
      <img src=<%= item.image %> >
      <p>Vendor: <%= item.merchant.name %></p>
      <p>Price: <%= item.price %></p>
      <p>Qty: <%= quantity %></p>
      <p>Subtotal: <%= item.price * quantity %></p>
      <%= button_to "+1", "/cart/#{item.id}/increment", method: :patch %>
      <%= button_to "-1", "/cart/#{item.id}/decrement", method: :patch %>
      <%= button_to "Delete Item", "/cart/#{item.id}", method: :put %>
    </section>
  <% end %>
  <p>Total Amount: <%= cart.grand_total %></p>
  <%= link_to "Empty Cart", '/cart', method: :delete %>
<% end %>
