<h1 id="cart-header">Your Cart</h1>
  <section class="all-cart-items">
    <!--  -->
    <ol>
      <% grand_total = 0 %>
      <!--  -->
      <% @cart.contents.each do |item_id, quantity| %>
        <% item = Item.find(item_id) %>
        <% subtotal = (item.price * quantity) %>
        <% grand_total += subtotal %>
        <!--  -->
        <li><%= link_to item.name, "/items/#{item_id}" %><br>
          <section class="cart-item" id="cart-item-<%= item_id %>">
            <img src= <%= item.image %>>
            <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
            <p>Price: <%= item.price %></p>
            <p>Quantity: <%= quantity %></p>
            <p>Subtotal: <%= subtotal %></p>
          </section>
        </li>
      <!--  -->
    </ol>
        <% if @cart.contents != nil %>
    <p><%= button_to("Empty cart", '/cart', method: :patch) do %></p>
        <% end %>
        <% end %>
      <% end %>
  </section><hr><br>
  <!--  -->
  <section id="grand-total">
    <p>Grand Total: <%= grand_total %></p>
  </section>
