<p class="cart-title">Cart</p>

<% @items.each do |item| %>
  <%= link_to "/items/#{item.id}", class:"item-sect-link" do %>
    <section id="cart-item-<%=item.id%>">
      <img src=<%= item.image%> class="cart-item-image">
      <section class="details-description">
        <p><%=item.name %></p>
        <p><%=item.merchant.name %></p>
      </section>
      <section class="details-price">
        <p class="cart-section-titles">Price:</p>
        <p><%=number_to_currency item.price %></p>
      </section>
      <section class="details-quantity">
        <p class="cart-section-titles">Quantity:</p>
        <p><%= @cart.contents[item.id.to_s] %></p>
      </section>
      <section class="details-subtotal">
        <p class="cart-section-titles">Subtotal:</p>
        <p><%= number_to_currency @cart.subtotal(item.id) %></p>
      </section>
    </section>
    <% end %>
<% end %>
<section class="order-total">
  Order total: <%=number_to_currency @cart.order_total %>
</section>
