  <h1 class='display-3' align='center'>Cart</h1>
    <% if @cart.contents.empty? %>
      <br>
      <p align='center'>Your cart is empty</p>
      <%= image_tag "https://image.flaticon.com/icons/svg/265/265731.svg", id: "cart-img" %>
    <% else %>
    <p> <%=link_to "Empty Cart", "/cart", method: :delete %> </p>
    <p> <%=link_to "Checkout", "/orders/new" %> </p>
    <% @cart.contents.each do |key, value| %>
      <section id="cart-item-<%= key %>">
        <% unless value == 0 %>
          <% item = Item.find(key) %>
          <h3><%= item.name %></h3>
          <img src=<%= item.image %> alt="...">
          <p>Sold by: <%= item.merchant.name %></p>
          <p>Price: <%= number_to_currency(item.price) %></p>
          <p>Quantity: <%= value %></p>
          <p>Subtotal: $<%=  @cart.subtotal_item(key) %></p>
          <p><%= link_to "Remove Item", "/cart/#{item.id}", method: :patch %></p>
          <p><%= button_to "+", "/cart/#{item.id}/add", method: :post %></p>
          <p><%= button_to "-", "/cart/#{item.id}/remove", method: :post %></p>
        <% end %>
      </section>
      <% end %>
      <h4>Grand Total: $<%=  @cart.grand_total %></h4>
    <% end %>
