<h1>Your Cart</h1>
<% if !cart.contents.empty? %>
  <section class="grid-container">
    <% cart.cart_items.each do |item| %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <p><%= link_to item.name, "/items/#{item.id}" %></p>
        <img src= <%= item.image %>>
        <p>Sold by: <%= link_to Merchant.find(item.merchant_id).name, "/merchants/#{item.merchant_id}" %></p>
        <p>Price: <%= number_to_currency(item.price) %></p>
        <p>Quantity: <%= cart.count_of(item.id) %></p>
        <p>Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
        <section id="cart-buttons">
          <div>
            <%= button_to '+', "/cart/#{item.id}/add", method: :patch %>
            <%= button_to '-', "/cart/#{item.id}/subtract", method: :patch %>
          </div>
          <%= button_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
        </section>
      </section>
    <% end %>
  </section>
  <hr>
  <center>
    <h2>Grand Total: <%= number_to_currency(cart.grand_total) %> </h2>
    <%= button_to 'Checkout', '/cart/new_order', method: :get %>
    <%= button_to 'Empty Cart', '/cart', method: :delete %>
  </center>
<% else %>
  <center>
    <h3>Your cart is empty</h3>
  </center>
<% end %>
