  <h1>Cart</h1>
    <% grand_total = 0 %>
    <% if @cart.contents.empty? %>
      <p>Your cart is empty</p>
    <% else %>
    <p> <%=link_to "Empty Cart", "/items" %> </p>
    <% @cart.contents.each do |key, value| %>
        <% item = Item.find_by(id: key) %>
        <h3><%= item.name %></h3>
        <img src=<%= item.image %> alt="...">
        <p>Sold by: <%= item.merchant.name %></p>
        <p>Price: <%= number_to_currency(item.price) %></p>
        <p>Quantity: <%= value %></p>
        <p>Subtotal: $<%=  @cart.subtotal_item(key) %></p>
      <% end %>
      <h4>Grand Total: $<%=  @cart.grand_total %></h4>
    <% end %>
