<h1>Your Cart</h1>
<% if !cart.contents.empty? %>
  <% cart.cart_items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <%= item.name %>
      <img src= <%= item.image %>>
      Sold by: <%= Merchant.find(item.merchant_id).name %>
      Price: <%= item.price %>
      Quantity: <%= cart.count_of(item.id) %>
      Subtotal: <%= cart.subtotal(item.id) %>
      <%= button_to '+', "/cart/#{item.id}", method: :put %>
      <%= button_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
    </section>
  <% end %>
  <hr>
  <p>Grand Total: <%= cart.grand_total %> </p>
  <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% else %>
  <h3>Your cart is empty</h3>
<% end %>
