<h1>Cart</h1>
<% if @items.empty? %>
  <p>Your cart is empty</p>
<% end %>

<section id="cart-table">
<% @items.each do |item| %>
  <section id= "item-<%=item.id%>">
    <p> <%= item.name %></p>
    <p> <%= item.merchant.name %></p>
    <p> <%= item.price %></p>
    <img src= <%= item.image %>>

    <p> <%= button_to "-", "/cart/decrement_item/#{item.id}", method: :patch %>&nbsp;
        Quantity: <%= cart.count_of(item.id) %>&nbsp;
        <%= button_to "+", "/cart/increment_item/#{item.id}", method: :patch %>
    </p>
    <p><%= button_to "Remove Item", "/cart/remove_item/#{item.id}", method: :delete %></p>
    <p> Item Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
  </section>
<% end %>
</section>

<p> Grand Total: <%= number_to_currency(cart.grand_total) %></p>
<p><%= link_to "Empty Cart", "/cart/empty", method: :delete %></p>
<%= button_to "Checkout", "/orders/new", method: :get %>
