<h1 id="cart-header">Your Cart</h1><hr>
  <section class="all-cart-items">
    <!--  -->
    <ol>
      <% grand_total = 0 %>
      <!--  -->
      <% @cart.contents.each do |item_id, quantity| %>

        <% item = Item.find(item_id) %>
        <% subtotal = (item.price * quantity) %>
        <% grand_total += subtotal %>
        <!--  -->
        <li><%= link_to item.name, "/items/#{item_id}" %><br>
          <section class="cart-item" id="cart-item-<%= item_id %>">
            <img src= <%= item.image %>>
            <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
            <p>Price: <%= item.price %></p>
            <p>Quantity: <%= quantity %> <%= link_to("+", "/cart/#{item_id}/increase", method: :patch) %> <%= link_to("-", "/cart/#{item_id}/decrease", method: :patch) %></p>
            <p>Subtotal: <%= subtotal %></p>
          <% x = item_id.to_i %>
            <section id= "item-<%=x%>">
              <%# <% binding.pry %> %>
              <%= button_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
            </section>
          </section>
        </li>
      <!--  -->
    </ol>
    <% end %>
  </section><hr><br>
  <!--  -->
  <section id="grand-total">
    <p>Grand Total: <%= grand_total %></p>
    <p><%= link_to("Empty cart", '/cart', method: :delete) if session[:cart] != nil %></p>

    <section id='checkout'>
      <% if @cart.contents.length > 0 %>
      <h4>
        <%= link_to 'Checkout', '/orders/new' %>
        <% end %>
      </h4>
    </section>
  </section>
