<h1>Cart Items</h1>
  <% @items.each do |item| %>
  <h2><%= item.name %></h2>
  <img src= <%= item.image %>>
  <p>Sold by: <%= item.merchant.name %></p>
  <p>Price: <%= number_to_currency(item.price) %> </p>
  <p>Quantity: <%= cart.contents[item.id.to_s] %></p>
  <h4>Subtotal: <%=  number_to_currency(item.subtotal(item.id, cart.contents[item.id.to_s])) %></h4>
  <% end %>
  <h2>Grand Total: <%= number_to_currency(cart.grand_total) %> </h2>
