<h1>Cart Contents</h1>

<% if @items.empty? %>
  <h3>Your cart is empty</h3>
<% else %>
  <% @items.each do |item| %>
    <section id = 'item-<%= item.id %>'>
    <p><%= item.name %></p>
    <%= image_tag item.image %>
    <p><%= "Merchant: #{item.merchant.name}" %></p>
    <p><%= "Price: #{number_to_currency(item.price)}" %></p>
    <p><%= "Quantity: #{cart.count_of(item.id)}" %></p>
    <p><%= "Subtotal: #{number_to_currency(cart.subtotal(item.id))}" %></p>
    <%= link_to 'Increase Quantity (+1)', "/cart/#{item.id}?quantity=increase", method: :patch %>
    <%= link_to 'Decrease Quantity (-1)', "/cart/#{item.id}?quantity=decrease", method: :patch %>
    <%= button_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
    </section>
  <% end %>
  <h5>Grand Total: <%= number_to_currency(cart.grand_total) %></h5>
  <p id='checkout'><%= link_to 'Checkout', '/orders/new' %></p>
  <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% end %>
