<% items.each do |item| %>
    <section id="cart-item-<%=item.id%>">
      <% if cart_show %>
        <img src=<%= item.image%> class="cart-item-image">
      <% end %>
      <section class="details-description">
        <p class="item-details">Item</p>
        <p><%=link_to item.name, "/items/#{item.id}" %></p>
        <p class="item-details">Merchant</p>
        <p><%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      </section>
      <section class="details-price">
        <p class="cart-section-titles">Price:</p>
        <p><%=number_to_currency item.price %></p>
      </section>
      <section class="details-quantity">
        <p class="cart-section-titles">Quantity:</p>
        <p>Qty: <%= @cart.contents[item.id.to_s] %></p>
          <% if cart_show %>
            <%= link_to "+ 1", "/cart/#{item.id}/add", method: :patch, class: 'edit-btn' %>
            <%= link_to "- 1", "/cart/#{item.id}/subtract", method: :patch, class: 'delete-btn' %>
            <section class="remove-item">
              <%= link_to "Remove: #{item.name}", "/cart/#{item.id}", method: :delete, class: 'remove-item-button' %>
            </section>
          <% end %>
      </section>
      <section class="details-subtotal">
        <p class="cart-section-titles">Subtotal:</p>
        <p><%= number_to_currency @cart.subtotal(item.id) %></p>
      </section>
    </section>
  <% end %>
  <section class="order-total">
    Order total: <%=number_to_currency @cart.order_total %>
  </section>
