<% @item.reviews.each do |review| %>
  <section id = "review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p><%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
    <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
    <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
  </section>
<% end %>
