<h1>Your Order Information</h1>
<section>
  <%= render "cart/show" %>
</section>

<h3>Shipping Information</h3>
<p>Please fill out your information below</p>
<section>
  <%= form_tag '/orders', method: :post do |f| %>
    <%= text_field_tag :name, nil, placeholder: "Name" %>

    <%= text_field_tag :address, nil, placeholder: "Address" %>

    <%= text_field_tag :city, nil, placeholder: "City" %>

    <%= text_field_tag :state, nil, placeholder: "State" %>

    <%= text_field_tag :zip, nil, placeholder: "Zip" %>

    <%= submit_tag 'Submit Order' %>
  <% end %>
</section>
