<div class="container" align='center'>
  <br />
  <h1 class='display-4'>Your Completed Order</h1>
  <br />

  <h3>Thanks, <%= @order.name %>!</h3>
  <br />
  <p>The following order that was placed on <%= @order.created_at.strftime("%Y-%m-%d") %> will be shipped to
    <span> <%= @order.address %> </span>
    <span> <%= @order.city %> </span>
    <span> <%= @order.state %> </span>
    <span> <%= @order.zip %> </span>
    in 4-5 business days.
  <p>
  <br />
  <section align='left'>
    <h4>Order Details</h4>
    <hr>
      <% @order.items_orders.each do |itemorder| %>
      <% item = Item.find(itemorder.item_id) %>
        <%= item.name %>
        Sold by: <%= item.merchant.name %>
        Price: <%= number_to_currency(item.price) %>
        Quantity: <%= itemorder.quantity %>
        Subtotal: <%=  number_to_currency(@order.show_subtotal(itemorder, item)) %>
        <% end %>
        Grand Total: <%= number_to_currency(@order.show_grand_total) %>

  </section>
</div>
