<h1>Your Completed Order</h1>

<section>

<h3><%= @order.name %></h3>
<p><span> <%= @order.address %> </span>
<span> <%= @order.city %> </span>
<span> <%= @order.state %> </span>
<span> <%= @order.zip %> </span></p>
<h5>Order Created At: <%= @order.created_at.strftime("%Y-%m-%d") %></h5>

</section>

<section>
  <%= render "cart/show" %>
</section>
