<h1 align = "center">Orders</h1>
  <% @orders.each do |order|%>
      <p>Order Number: <%= link_to order.order_number, "/orders/#{order.id}" %></p>
      <p>Name: <%= order.customer_name %></p>
      <p>Address: <%= order.customer_address %></p>
      <p>City: <%= order.customer_city %></p>
      <p>State: <%= order.customer_state %></p>
      <p>Zip: <%= order.customer_zip %></p>
      <br>
  <% end %>
