<h1>Review Your Order</h1>

<% @cart.items.each do |item| %>
  <section id="item-<%=item.id%>">
    <p>Name: <%=link_to item.name, "/items/#{item.id}" %></p>
    <p>Price: <%= item.price %></p>
    <p>Sold By: <%= item.merchant.name %></p>
    <p>Total Quantity: <%= @cart.quantity_of(item) %></p>
    <p>Subtotal: <%= @cart.subtotal(item) %></p><br><br>
  </section>
<% end %>

<p>Grand Total: <%= @cart.grand_total %></p>

  <section class='order'>
    <%= form_tag '/orders', method: :post do |f| %>
      <%= label_tag :name %>
      <%= text_field_tag :name %><br>

      <%= label_tag :address %>
      <%= text_field_tag :address %><br>

      <%= label_tag :city %>
      <%= text_field_tag :city %><br>

      <%= label_tag :state %>
      <%= text_field_tag :state %><br>

      <%= label_tag :zip %>
      <%= text_field_tag :zip %><br>

      <%= submit_tag "Create Order" %>
    <% end %>
  </section>
