<h1 class="mt-4 mb-3">New Order</h1>

<section class='container-fluid row justify-content-center'>
  <section class='card card-body bg-light m-3 p-4'>
  <h3 class='text-center'>Items</h3>
    <section class='container-fluid justify-content-center'>
      <% @items.each do |item| %>
        <section class='card card-body bg-light m-3 p-4' id='item-<%= item.id %>'>
          <h5><%= item.name %></h5>
          <p><%= "Merchant: #{item.merchant.name}" %></p>
          <p><%= "Price: #{number_to_currency(item.price)}" %></p>
          <p><%= "Quantity: #{cart.count_of(item.id)}" %></p>
          <p><%= "Subtotal: #{number_to_currency(cart.subtotal(item.id))}" %></p>
        </section>
      <% end %>
    </section>
  </section>
</section>

<h5 class='text-center'>Grand Total: <%= number_to_currency(cart.grand_total) %></h5>

<hr class='m-5'/>

<h2 class='text-center'>Shipping Information</h2>
<%= form_tag "/orders", method: :post do %>
  <section class='form-group form-width'>
    <p>
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :address %>
      <%= text_area_tag :address, nil, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :city %>
      <%= text_field_tag :city, nil, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :state %>
      <%= text_field_tag :state, nil, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :zip %>
      <%= text_field_tag :zip, nil, class: 'form-control' %>
    </p>

    <br>

    <p>
      <%= submit_tag 'Create Order', class: 'btn btn-primary' %>
    </p>
  </section>
<% end %>
