<h1 align= "center">Order</h1>

<section>
  <% @items.each do |item, quantity|  %>
    <section id= "cart-<%= item.id %>">
      <p><%= item.name %></p>
      <p>Vendor: <%= item.merchant.name %></p>
      <p>Price: <%= item.price %></p>
      <p>Qty: <%= quantity %></p>
      <p>Subtotal: <%= item.price * quantity %></p>
    </section>
  <% end %>
  <p>Total Amount: <%= cart.grand_total %></p>
</section>

<center>
  <p>Shipping Information</p>
  <%= form_tag "/orders", method: :post do %>
    <%= text_field_tag :name, "Name" %>

    <%= text_field_tag :address, "Address" %>

    <%= text_field_tag :city, "City" %>

    <%= text_field_tag :state, "State" %>

    <%= text_field_tag :zip, "Zip" %>

    <%= submit_tag 'Create Order' %>
  <% end %>
</center>
