<h1>Checkout Page</h1>
<section class="grid-container">
  <% cart.cart_items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h4> <%= link_to item.name, "/items/#{item.id}" %> </h4>
      <p> Sold by: <%= link_to Merchant.find(item.merchant_id).name, "/merchants/#{item.merchant_id}" %> </p>
      <p> Price: <%= number_to_currency(item.price) %> </p>
      <p> Quantity: <%= cart.count_of(item.id) %> </p>
      <p> Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %> </p>
    </section>
  <% end %>
</section>
<h2 align="center">Grand Total: <%= number_to_currency(cart.grand_total) %></h2>

<center>
  <%= form_tag '/order', method: :post do %>
    <%= text_field_tag :name, 'Name' %>
    <%= text_field_tag :address, 'Address' %>
    <%= text_field_tag :city, 'City' %>
    <%= text_field_tag :state, 'State' %>
    <%= text_field_tag :zip, 'Zip' %>
    <%= submit_tag 'Create Order' %>
  <% end %>
</center>
