<h1>Checkout</h1>

<section id="cart-table">
  <% @items.each do |item| %>
    <section id= "item-<%=item.id%>">
      <p> <%= item.name %></p>
      <p> <%= item.merchant.name %></p>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Quantity: <%= cart.count_of(item.id) %></p>
      <p> Item Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
    </section>
  <% end %>
  <p> Grand Total: <%= number_to_currency(cart.grand_total) %></p>
</section>

<center>
  <%= form_tag "/orders", method: :post do %>
    <%= label_tag :name, "Name" %>
    <%= text_field_tag :name %>

    <%= label_tag :address, "Address" %>
    <%= text_field_tag :address %>

    <%= label_tag :city, "City" %>
    <%= text_field_tag :city %>

    <%= label_tag :state, "State" %>
    <%= text_field_tag :state %>

    <%= label_tag :zip, "Zip" %>
    <%= text_field_tag :zip %>

    <%= submit_tag "Create Order" %>
  <% end %>
</center>
