<h1>Orders</h1>

<section>
  <p> <%= @order.name %></p>
  <p> <%= @order.address %></p>
  <p> <%= @order.city %></p>
  <p> <%= @order.state %></p>
  <p> <%= @order.zip %></p>
</section>

<section id="cart-table">
  <% @order.items.each do |item| %>
    <section id= "item-<%=item.id%>">
      <p> <%= item.name %></p>
      <p> <%= item.merchant.name %></p>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Quantity: <%= @order.quantity_of_item(item.id) %></p>
      <p> Item Subtotal: <%= number_to_currency(@order.subtotal_of_item(item.id)) %></p>
    </section>
  <% end %>
  <p> Grand Total: <%= number_to_currency(cart.grand_total) %></p>
  <p> Date of Order: <%= @order.created_at %></p>
</section>





<!-- As a visitor
When I fill out all information on the new order page
And click on 'Create Order'
An order is created and saved in the database
And I am redirected to that order's show page with the following information:
- My name and address (shipping information)
- Details of the order:
- the name of the item
- the merchant I'm buying this item from
- the price of the item
- my desired quantity of the item
- a subtotal (price multiplied by quantity)
- a grand total of what everything in my cart will cost
- the date when the order was created -->
