<h1>Order</h1>
<h2>Shipping Information</h2>
<section id = 'shipping-info' >
  <p>Name: <%= @item_orders.first.order.user.name %></p>
  <p>Address: <%= @item_orders.first.order.user.address %></p>
  <p>City: <%= @item_orders.first.order.user.city %></p>
  <p>State: <%= @item_orders.first.order.user.state %></p>
  <p>Zip: <%= @item_orders.first.order.user.zip %></p>
</section>

<% @item_orders.each do |item_order| %>
  <section id = 'item-<%= item_order.item_id %>'>
    <p><%= item_order.item.name %></p>
    <p><%= "Merchant: #{item_order.item.merchant.name}" %></p>
    <p><%= "Price: #{number_to_currency(item_order.item.price)}" %></p>
    <p><%= "Quantity: #{item_order.item_quantity}" %></p>
    <p><%= "Subtotal: #{number_to_currency(item_order.subtotal)}" %></p>
  </section>
<% end %>

<h5>Grand Total: <%= number_to_currency(@item_orders.first.order.grand_total) %></h5>
<h5>Order Date: <%= @item_orders.first.order.created_at.to_formatted_s(:long)   %></h5>