<h1> Order </h1>
<section id='order-summary'>
<center>
<% @order.order_details.each do |item, quantity| %>
  <section id="order-<%= item.id%>">
    <p>Item: <%= link_to item.name, "/items/#{item.id}" %></p>
    <p>Purchased from: <%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %> </p>
    <p>Subtotal: $<%= item.item_subtotal(quantity) %></p>
  </section>
  <% end %>
<p>Total: <%= number_to_currency @order.order_total %></p>
<section id='order-address'>
  <b><u>Shipped To:</u></b>
  <br><%= @order.name %>
  <br><%= @order.address %>
  <br><%= @order.city %>
  <br><%= @order.state %>
  <br><%= @order.zip %>
</section>
<p>Date Ordered: <%= @order.created_at %></p>
</center>
</section>
