<h1>Order Processed!</h1>
<p><%= @order.name %></p>
<p> <%= @order.address %> </p>
<p>
  <%= @order.city %>
  <%= @order.state %>
  <%= @order.zip %>
</p>
<hr>
<% @item_orders.each do |item_order| %>
  <section id = "item-<%=item_order.item_id%>">
    <p><%= item_order.current_item.name %></p>
    <p><%= item_order.current_item.merchant.name %></p>
    <p>Price: $<%= item_order.current_item.price %></p>
    <p>Quantity: <%= item_order.quantity %></p>
    <p>Subtotal: $<%= item_order.subtotal %></p>
    <hr>
  </section>
<% end %>
<p>Grand Total: $<%= @order.grand_total %></p>
<p> <%= @order.created_at %></p>
