<h1>Order #<%= @order.id %></h1>

<div class="cart-container">
  <center class="cart-item">
  <% @items_hash.each do |item, qty| %>
    <section id="order-item-<%= item.id %>">
      <span class="item-show-item"><%= image_tag("#{item.image}") %></span>
      <h1><%= item.name %></h1> <h3>from</h3> <h2><%= item.merchant.name %></h2>
      <h2>Purchase <%= qty %> at <%= number_to_currency(item.price) %> each</h2>
      <h2>Subtotal: <%= number_to_currency(item.price * qty) %></h2>
    </section>
  <% end %><br><br><br>
    <h1>Total Items: <%= @items_hash.values.sum %></h1>
    <h1>Total Cost: <%= number_to_currency(@total_cost) %></h1>
  </center>
</div>

<br><br><br><center>
  <h1>Shipping Information</h1>
  <h2>Name: <%= @order.name %></h2>
  <h2>Address: <%= @order.address %></h2>
  <h2>City: <%= @order.city %></h2>
  <h2>State: <%= @order.state %></h2>
  <h2>Zip: <%= @order.zip %></h2>
  <h2>Created: <%= @order.created_at.strftime("%Y-%m-%d") %></h2>
</center>
