<h1 class="order-header" id="order-header">Your Order</h1><hr>
  <section id="order-info">
    <h2>Order info</h2>
    <p>Name: <%= "#{@order.name}" %></p>
    <p>Address:<br> <%= "#{@order.address}" %></p>
    <p><%= "#{@order.city}" %>, <%= "#{@order.state}" %> <%= "#{@order.zip}" %></p>
    <p>Created: <%= "#{@order.created_at.to_date}" %></p>
  </section>

  <%= render partial: 'contents' %>

  <section class="grand-total" id="grand-total">
    <p>Grand Total: <%= @cart.grand_total %></p>
  </section>
