<h1> Order </h1>

<p><%= @order.name %></p>
<p><%= @order.address %></p>
<p><%= @order.city %></p>
<p><%= @order.state %></p>
<p><%= @order.zip %></p>

<% @order.order_details.each do |item, quantity| %>
  <section id="order-<%= item.id%>">
    <p><%= item.name %></p>
    <p><%= item.merchant.name %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %> </p>
    <p>Subtotal: $<%= item.item_subtotal(quantity) %></p>
  </section>
<% end %>
