<h1 id="order-header">Your Order</h1><hr>
  <section id="order-info">
    <h2>Order info</h2>
    <p>Name: <%= "#{@order.name}" %></p>
    <p>Address:<br> <%= "#{@order.address}" %></p>
    <p><%= "#{@order.city}" %>, <%= "#{@order.state}" %> <%= "#{@order.zip}" %></p>
    <p>Created: <%= "#{@order.created_at.to_date}" %></p>
  </section>
  <!--  -->
  <section class="all-order-items">
    <ol>
      <% @cart.contents.each do |item_id, quantity| %>
        <% item = Item.find(item_id) %>
        <li><%= link_to item.name, "/items/#{item_id}" %><br>
          <section class="order-item" id="order-item-<%= item_id %>">
            <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
            <p>Price: <%= number_to_currency(item.price) %></p>
            <p>Quantity: <%= quantity %></p>
            <p>Subtotal: <%= @cart.subtotal(item_id) %></p>
          </section>
        </li>
      <% end %>
    </ol>
  </section><hr><br>
  <!--  -->
  <section id="grand-total">
    <p>Grand Total: <%= @cart.grand_total %></p>
  </section>
