<h1> Order </h1>

<%= @order.name %>
<%= @order.address %>
<%= @order.city %>
<%= @order.state %>
<%= @order.zip %>

#Need to figure out how to return order details after
#cart is reset
<% @order.order_details(@order.id).each do |item, quantity| %>
  <section id="order-<%= item.id%>">
    <p><%= item.name %></p>
    <p><%= item.merchant.name %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %> </p>
    <p>Subtotal: $<%= item.item_subtotal(quantity) %></p>
  </section>
<% end %>
