<p class="page-title">Order Details</p>

<section class="customer-info">
  <h3>Shipping Details</h3>
  <p><%= @order.name %></p>
  <p><%= @order.address %></p>
  <p><%= @order.city %>, <%= @order.state %> <%= @order.zip %></p>
  <section class="order-date">
    Order placed on: <%= @order.created_at %>
  </section>
</section>
<%= render partial: 'partials/order_items', locals: {items: @items,
   cart_show: params[:contoller]=="cart"} %>
