<h1 class="mt-4 mb-3">Order Number: <%= @item_orders.first.order.verification_code %></h1>
<hr />
<h2 class='text-center'>Shipping Information</h2>
<section id='shipping-info'>
  <h6 class='text-center'><%= @item_orders.first.order.user.name %><br />
    <%= @item_orders.first.order.user.address %><br />
    <%= @item_orders.first.order.user.city %>,
    <%= @item_orders.first.order.user.state %>
    <%= @item_orders.first.order.user.zip %></h6>
</section>

<section class='container-fluid row justify-content-center'>
  <section class='card card-body bg-light m-3 p-4'>
  <h3 class='text-center'>Items</h3>
    <section class='container-fluid justify-content-center'>
      <% @item_orders.each do |item_order| %>
        <section class='card card-body bg-light m-3 p-4' id='item-<%= item_order.item_id %>'>
          <h5><%= item_order.item.name %></h5>
          <p><%= "Merchant: #{item_order.item.merchant.name}" %></p>
          <p><%= "Price: #{number_to_currency(item_order.item.price)}" %></p>
          <p><%= "Quantity: #{item_order.item_quantity}" %></p>
          <p><%= "Subtotal: #{number_to_currency(item_order.subtotal)}" %></p>
        </section>
      <% end %>
    </section>
  </section>
</section>

<h5 class='text-center'>Grand Total: <%= number_to_currency(@item_orders.first.order.grand_total) %></h5>
<h5 class='text-center'>Order Date: <%= @item_orders.first.order.created_at.strftime("%m/%d/%Y") %></h5>
