<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<h1><%= @merchant.name %> Item Details</h1>
<center>
  <p><b>Items for Sale:</b> <%= @merchant.item_count %></p>
  <p><b>Average Cost of an Item:</b> <%= number_to_currency(@merchant.average_item_price) %></p>
  <p><b>Cities Served</b> |
  <% if @merchant.cities_serviced == [] %>
      nada &#x1F614;</p>
    <% else %>
    <% @merchant.cities_serviced.each do |city| %>
    <%= city %> |
   <% end %>
  <% end %></p>
</center>
<center>
  <h1>Top Three Items for <%= @merchant.name %></h1>
  <section class="show-container">
      <% @top_item_ids.each do |item_id| %>
      <% item = Item.find(item_id) %>
        <section class = "show-item" id= 'item-<%=item.id%>'>
          <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
          <img src= <%= item.image %>>
          <p> <%= item.description unless @merchant%> </p>
          <p>Average Rating: <%= item.avg_rating.round(2) %></p>
          <p>Price: $<%= item.price %> </p>
          <p>Inventory: <%= item.inventory %> </p>
          <% if item.active? %>
            <p>Active</p>
          <% else %>
            <p>Inactive</p>
          <% end %>
        </section>
        <% end %>
    </section>
</center>

<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %></ul>
