<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<% if @merchant.highest_rated_items.length >= 3 %>
  <section id='topitems'>
    <h3>Top 3 Items:</h3>
    <h4 class='item'> <%= link_to "#{@merchant.highest_rated_items.first.name}", "/items/#{@merchant.highest_rated_items.first.id}" %></h4>
    <h4 class='item'> <%= link_to "#{@merchant.highest_rated_items[1].name}", "/items/#{@merchant.highest_rated_items[1].id}" %></h4>
    <h4 class='item'> <%= link_to "#{@merchant.highest_rated_items[2].name}", "/items/#{@merchant.highest_rated_items[2].id}" %></h4>
  </section>
<% end %>

<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %></ul>

<section id='stats'>
  <h3>Merchant Statistics:</h3>
  <p>Number of items sold by <%= @merchant.name %>: <%= @merchant.items.length %></p>
  <p>Average item price: <%= number_to_currency(@merchant.average_item_price) %></p>
  <p>Cities where merchant has sold: <%= @merchant.distinct_cities.join(", ") %></p>
</section>
