<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<center>
  <p>Items for Sale: <%= @merchant.item_count %></p>
  <p>Average Cost of an Item: <%= @merchant.average_item_price %></p>
  <p>Cities Sold To: <%= @merchant.cities_serviced %></p>
  <hr>
</center>

<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %></ul>
