<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<section id = "stats-#{@merchant}">
  <p>Item Count: <%= @merchant.items.count %></p>
  <p>Average Item Price: <%= @merchant.items.average(:price) %></p>
  <p>Cities With Order: <%=  %></p>
</section>


<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<% if @merchant.item_orders.empty? %>
  <ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %></ul>
<% end  %>
