<h1>New Order</h1>
  <div class="cart-container">
    <center class="cart-item">
    <% @items_hash.each do |item, qty| %>
      <section id="order-item-<%= item.id %>">
        <span class="item-show-item"><img src= <%= item.image %>></span>
        <h1><%= link_to("#{item.name}", "/items/#{item.id}") %></h1>
        <h3>from</h3>
        <h2><%= link_to("#{item.merchant.name}", "/merchants/#{item.merchant.id}") %></h2>
        <h2>Purchase <%= qty %> at <%= number_to_currency(item.price) %> each</h2>
        <h2>Subtotal: <%= number_to_currency(item.price * qty) %></h2>
      </section>
    <% end %><br><br><br>
    <h1>Total Items: <%= @items_hash.values.sum %></h1>
    <h1>Total Cost: <%= number_to_currency(@total_cost) %></h1>
    </center>
  </div>

  <center><br><br><br><br>
    <h1>Enter your shipping information:</h1>
    <%= form_tag "/orders", method: :post do %>
      <%= text_field_tag :name, nil, placeholder: "Name"%>

      <%= text_field_tag :address, nil, placeholder: "Address" %>

      <%= text_field_tag :city, nil, placeholder: "City" %>

      <%= text_field_tag :state, nil, placeholder: "State" %>

      <%= text_field_tag :zip, nil, placeholder: "Zip" %>

      <%= submit_tag 'Create Order' %>
    <% end %>
  </center>
