<% if @message.nil? %>
<h1>Your Cart</h1>
  <div class="cart-container">
    <center class="cart-item">
    <% @items_hash.each do |item, qty| %>
      <span class="item-show-item"><%= image_tag("#{item.image}") %></span>
      <h1><%= item.name %></h1> <h3>from</h3> <h2><%= item.merchant.name %></h2>
      <h2>Purchase <%= qty %> at <%= number_to_currency(item.price) %> each</h2>
      <h2>Subtotal: <%= number_to_currency(item.price * qty) %></h2><br><br><br><br><br><br>
    <% end %>
    <h1>Total Cost: <%= number_to_currency(@total_cost) %></h1>
    <h2><%= link_to("Empty Cart", '/cart/empty') %></h2>
  </center>
  </div>
  <% else %>
  <h1><%= @message %></h1>
  <% end %>
