<h1>Shopping Cart</h1>
<center>
<section id = "cart-summary">
  <% cart.item_quantity.each do |item, quantity| %>
    <section id="cart-item-<%=item.id%>">
      <p>Quantity: <%= quantity %></p>
      <p><%= link_to item.name, "/items/#{item.id}" %></p>
      <p><%= button_to 'Delete Item', "/cart/#{item.id}", method: :delete_item %></p>
      <p><%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <p><%= image_tag item.image, alt: item.description %></p>
      <p>$<%= item.price %></p>
      <p>Quantity: <%= quantity %></p>
      <p>Subtotal: $<%= item.item_subtotal(quantity) %></p>
    </section>
  <% end %>

  <section id="cart-total">
    <p><b>Total: $<%= cart.total %></b></p>
  </section>
</section>
<section id="cart-actions">
  <% if cart.has_items? %>
  <%= button_to "Empty Cart", "/cart", method: :delete %>
  <% end %>
</section>
</center>
