<h1>Shopping Cart</h1>
<center>
<section id="cart-summary">
  <% cart.item_quantity.each do |item, quantity| %>
    <section id="cart-item-<%=item.id%>">
      <p>Quantity: <%= quantity %></p>
      <%= link_to item.name, "/items/#{item.id}" %>
      <%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %>
      <%= image_tag item.image, alt: item.description %>
      <p>$<%= item.price %></p>
      <p>Quantity: <%= quantity %></p>
      <p>Subtotal: $<%= item.price * quantity %></p>
    </section>
  <% end %>

<section id="cart-total">
  <p>Total: $<%= cart.total %></p>
</section>
</section>
</center>
