<h1>Create New Item For <%=link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>

<center>
  <%= form_tag "/merchants/#{@merchant.id}/items", method: :post do %>
    <%= label_tag :name %>:
    <%= text_field_tag :name %>

    <%= label_tag :description %>:
    <%= text_field_tag :description %>

    <%= label_tag :image %>:
    <%= text_field_tag :image %>

    <%= label_tag :price %>:
    <%= number_field_tag :price, nil, min:0, step:0.01 %>

    <%= label_tag :inventory %>:
    <%= number_field_tag :inventory, nil, min:1 %>

    <%= submit_tag 'Create Item' %>
  <% end %>
</center>
