<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: $<%= @item.price %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
  </section>
</center>

<div>
  <section id='item-<%= @item.id %>-review-stats'>
    <p>Average Rating: <%= @item.reviews.average_review_rating %> </p>
  </section>

  <section id='item-<%= @item.id %>-top-3-reviews'>
    <p>Top 3</p>
    <% @item.reviews.top_three_reviews.each do |title, rating| %>
      <div>
        <span><%= title %></span>
        <span><%= rating %></span>
      </div>
    <% end %>
  </section>

  <section id='item-<%= @item.id %>-bottom-3-reviews'>
    <p>Top 3</p>
    <% @item.reviews.bottom_three_reviews.each do |title, rating| %>
      <div>
        <span><%= title %></span>
        <span><%= rating %></span>
      </div>
    <% end %>
  </section>
</div>

<div>
  <div> <%= link_to "add new review", "/items/#{@item.id}/review/new" %></div>
  <p>Reviews: <% @item.reviews.each do |review| %> </p>
    <section id= 'review-<%=review.id%>'>
      <p><%= review.title %></p>
      <p><%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    </section>
  <% end %>
</div>
