<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <%=button_to "Add Item", "/cart/#{@item.id}", method: :post %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>


      <section id= "stats-<%= @item.id %>">
      <% @item.reviews.top_reviews.each do |review| %>
        <p>Top Reviews: <%= review.title %> <%= review.rating %></p>
      <% end %>
      <% @item.reviews.bottom_reviews.each do |review| %>
        <p>Bottom Reviews: <%= review.title %> <%= review.rating %></p>
      <% end %>
      <p>Average Review: <%= @item.reviews.average_review %></p>
    </section>

      <% @item.reviews.each do |review| %>
        <section id= "review-<%= review.id %>">
            <p>Review:</p>
            <p> <%= review.title %></p>
            <p> <%= review.content %></p>
            <p>Rating: <%= review.rating %></p>
            <p><%= link_to "Edit Review", "/items/#{@item.id}/reviews/#{review.id}/edit" %></p>
            <p><%= link_to "Delete Review", "/items/#{@item.id}/reviews/#{review.id}", method: :delete %></p>
        </section>
      <% end %>

      <p><%= link_to "Write Review", "/items/#{@item.id}/reviews/new" %></p>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
  </section>
</center>
