<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
      <p><%= link_to "Add Review", "/items/#{@item.id}/reviews/new" %></p>
      <p><%= button_to "Add to cart", "/cart/#{@item.id}", method: :post %></p><br><hr>

      <h3>Reviews</h3>
      <div class="Reviews">
        <% @item.reviews.each do |review|%>

        <section id="review-<%= review.id %>">
          <h3><%= review.title %></h3>
          <ul><%= link_to "Edit Review", "/reviews/#{review.id}/edit" %></ul>
          <p><%= review.content %></p>
          <p><%= "Rating: #{review.rating}" %></p>

          <h2><%= review.title %></h2>
          <p><%= review.content %></p>
          <p><%= "Rating: #{review.rating}" %></p>
          <p><%= link_to "Delete Review", "/items/#{@item.id}/reviews/#{review.id}", method: :delete %></p><br>
        </section>
        <% end %>
      </div>

      <section class='reviews-section'>
        <section id="top_three_reviews">
          <h3>Top Three Reviews</h3>
          <% @item.reviews.top_three.each do |review|%>
          <h3><%= review.title %></h3>
          <p><%= review.content %></p>
          <p><%= "Rating: #{review.rating}" %></p>
          <% end %>
        </section>

        <section id='bottom_three_reviews'>
          <h3>Bottom Three Reviews</h3>
          <% @item.reviews.bottom_three.each do |review| %>
          <h3><%= review.title %> </h3>
          <p><%= review.content %></p>
          <p><%= "Rating: #{review.rating}" %></p>
          <% end  %>
        </section>

        <section id='average_rating'>
          <h3>Average Rating Of All Reviews</h3>
          <p><%= @item.reviews.total_average %></p>
        </section>
      </section>



    </section>
  </section>
</center>
