<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
      <% if !@item.reviews.empty? %>
        <section id = "review-stats">
          <h2>Helpful Reviews</h2>
          <hr>
          <p> <% @item.reviews.best_and_worst.each do |review| %></p>
            <p><%= review.title %></p>
            <p>Rating: <%= review.rating %></p>
            <hr>
          <% end %>
        <p> Average User Rating:  <%= @item.reviews.avg_rating %></p>
      </section>
    <% end %>
      <p><%= button_to 'Add Review', "/items/#{@item.id}/reviews/new", method: :get %></p>
      <% @item.reviews.each do |review| %>
      <section class="review-box" id = "review-<%= review.id %>">
        <p> <%= review.title %> </p>
        <p> <%= review.content %> </p>
        <p>Rating: <%= review.rating %> </p>
        <p> <%= button_to 'Edit Review',"/reviews/#{review.id}/edit", method: :get %></p>
        <p> <%= button_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></p>
      </section>
      <% end %>
    </section>
  </section>
</center>
