<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
  </section>
  <section>
    <%= button_to 'Add to Cart', "/cart/#{@item.id}", method: :patch %>
  </section>
  <% if !@item.reviews.empty? %>
    <section class='review-container'>
      <h2>Reviews</h2>
        <h5>Sort by: </h5>
          <%= link_to 'Highest Rating', "/items/#{@item.id}?sort=highest" %>
          <%= link_to 'Lowest Rating', "/items/#{@item.id}?sort=lowest" %>
          <% @reviews.each do |review| %>
            <section id = "review-<%= review.id %>" class='review'>
              <b><%= review.title %></b>
              <p><%= review.content %></p>
              <p>Rating: <%= review.rating %></p>
            </section>
            <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
            <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
          <% end %>
    </section>
    <h4>Review Statistics</h4>
    <section class= 'container-fluid justify-content-center row'>
      <section class= 'col-md-5.5' id='top3' style= 'display:inline;'>
        <h5>Top 3 Reviews</h5>
        <% @item.top_three_reviews.each do |review| %>
          <p><%= review.title %> Rating: <%= review.rating %></p>
        <% end %>
      </section>
      <section class= 'col-md-5.5' id='bottom3' style= 'display:inline;'>
        <h5>Bottom 3 Reviews</h5>
        <% @item.bottom_three_reviews.each do |review| %>
          <p><%= review.title %> Rating: <%= review.rating %></p>
        <% end %>
      </section>
      <h5>Average Rating: <%= @item.average_rating %></h5>
    </section>
  <% end  %>


  <%= link_to 'Add New Review', "/items/#{@item.id}/reviews/new" %>
</center>
