<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
    <%= link_to "Review This Item", "/items/#{@item.id}/reviews/new" %>
    <section id= "review-stats">
      <article id= "top-reviews">
        <% @item.top_three_reviews.each do |review| %>
         <p>Title: <%= review.title %></p>
         <p>Rating: <%= review.rating %></p>
        <% end %>
      </article>
      <article id= "bottom-reviews">
        <% @item.bottom_three_reviews.each do |review| %>
         <p>Title: <%= review.title %></p>
         <p>Rating: <%= review.rating %></p>
        <% end %>
      </article>
      <article id= "average-rating">
        <p>Average Rating: <%= @item.average_rating %></p>
      </article>
    </section>
    <% @item.reviews.each do |review| %>
      <section id = "review-<%= review.id%>">
        <p> <%= review.title %></p>
        <p> <%= review.content %></p>
        <p> <%= review.rating %></p>
        <p> <%= link_to "Edit Review", "/items/#{@item.id}/reviews/#{review.id}/edit" %></p>
        <p><%= link_to "Delete Review", "/items/#{@item.id}/reviews/#{review.id}", method: :delete %></p>
      </section>
    <% end %>
  </section>
</center>
