<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <article class = "item-show-item">
      <img src= <%= @item.image %>>
    </article>
    <article style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %> </p>
      <p>Inventory: <%= @item.inventory %> </p>

      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>

      <p><%= "Average Review Rating: #{@item.reviews.average_rating}" %></p>

      <p><%= link_to 'Create Review', "/items/#{@item.id}/reviews/new" %></p>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </article>
  </section>

  <h3>Reviews</h3>
  <% @item.reviews.each do |review| %>
    <section id= 'review-<%= review.id %>'>
      <p><%= review.title %></p>
      <p><%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
      <p><%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %></p>
      <p><%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></p>
    </section>
  <% end %>

  <h3>Top Three Reviews</h3>
  <% @item.reviews.top_three.each do |review| %>
    <section id= 'top-review-<%= review.id %>'>
      <p><%= review.title %></p>
      <p>Rating: <%= review.rating %></p>
    </section>
  <% end %>

  <h3>Bottom Three Reviews</h3>
  <% @item.reviews.bottom_three.each do |review| %>
    <section id= 'bottom-review-<%= review.id %>'>
      <p><%= review.title %></p>
      <p>Rating: <%= review.rating %></p>
    </section>
  <% end %>

</center>
