<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<br><hr><br>
<p align='center'><%= link_to "Add New Review", "/items/#{@item.id}/reviews/new", class: "btn btn-success" %></p>
<br>
<div class='container'>
  <div>
    <%= render 'partials/average_rating' %>
    <hr>
    <%= render 'partials/most_popular_reviews' %>
    <hr>
    <%= render 'partials/least_popular_reviews' %>
  </div>
  <hr>
  <div>
    <%= render 'partials/all_reviews' %>
  </div>
</div>
