<h1 class="mt-4 mb-3">Edit Review for <%=link_to @review.item.name, "/items/#{@review.item_id}" %></h1>

  <%= form_tag "/reviews/#{@review.id}", method: :patch do %>
    <section class='form-group form-width'>
      <p>
        <%= label_tag :title %>
        <%= text_field_tag :title, @review.title, class: 'form-control' %>
      </p>

      <p>
        <%= label_tag 'Review Content' %>
        <%= text_area_tag :content, @review.content, class: 'form-control' %>
      </p>

      <p>
        <%= label_tag :rating %>
        <%= number_field_tag :rating, @review.rating, class: 'form-control' %>
      </p>

      <p>
        <%= submit_tag 'Update Review', class: 'btn btn-primary mt-3' %>
      </p>
    </section>
  <% end %>
