<h1>Update Review for <%= link_to @review.item.name, "/items/#{@review.item.id}" %></h1>
<center>
  <%= form_tag "/reviews/#{@review.id}", method: :patch  do %>
    <%= label_tag :your_review_title %>:
    <%= text_field_tag :title , "#{@review.title}"%>

    <%= label_tag :your_review %>:
    <%= text_field_tag :content, "#{@review.content}" %>

    <%= label_tag :rating %>:
    <br />
    <%= number_field_tag :rating, "#{@review.rating}", within:1..5 %>

    <%= submit_tag 'Update Review' %>
  <% end %>
</center>
