<div>
  <div>
    <section id='item-<%= @item.id %>-review-stats'>
      <p>Average Rating: <%= @item.reviews.average_review_rating %> </p>
    </section>

    <section id='item-<%= @item.id %>-top-3-reviews'>
      <p>Top 3</p>
      <% @item.reviews.top_three_reviews.each do |title, rating| %>
        <div>
          <span><%= title %></span>
          <span><%= rating %></span>
        </div>
      <% end %>
    </section>

    <section id='item-<%= @item.id %>-bottom-3-reviews'>
      <p>Bottom 3</p>
      <% @item.reviews.bottom_three_reviews.each do |title, rating| %>
        <div>
          <span><%= title %></span>
          <span><%= rating %></span>
        </div>
      <% end %>
    </section>
  </div>

  <div> <%= link_to "add new review", "/items/#{@item.id}/reviews/new" %></div>

  <div>
    <h2>Reviews</h2>
    <% @item.reviews.each do |review| %>
      <section id= 'review-<%=review.id%>'>
        <p><%= review.title %></p>
        <p><%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
        <p> <%= link_to "edit review", "/items/#{@item.id}/#{review.id}/edit" %></p>
        <p id="delete-review-<%= review.id %>"><%= link_to "Delete Review", "/reviews/#{review.id}", method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </section>
    <% end %>
  </div>
</div>
