<h1>Create New Review For <%=link_to @item.name, "/items/#{@item.id}" %></h1>

<center>
  <%= form_tag "/items/#{@item.id}/reviews", method: :post do %>
    <p>Title<br><%= text_field_tag :title%></p>

    <p>Your Review<br><%= text_field_tag :content %></p>

    <p>Rating<%= text_field_tag :rating %></p>

    <p><%= submit_tag 'Submit' %></p>
  <% end %>
</center>
