<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create A Review</title>
  </head>
  <body>
    <%= form_tag "item_path(#{@item})", method: :post do |f|%>
    <%= label_tag :title, "Headline:" %>
    <%= text_field_tag :title %>

    <%= label_tag :rating, "Rating (1-5):" %>
    <%= text_field_tag :rating %>

    <%= label_tag :content, "Write Your Review:" %>
    <%= text_field_tag :content%>

    <%= submit_tag 'Submit Your Review' %>
    <% end %>
  </body>
</html>
