<h1 class='display-3' align='center'> Add New Review </h1>

<center>
  <%= form_tag "/items/#{@item.id}/reviews", method: :post do %>
    <%= text_field_tag :title, nil, placeholder: "Title" %>

    <%= text_field_tag :content, nil, placeholder: "Content" %>

    <%= text_field_tag :rating, nil, placeholder: "Rating" %>

    <%= submit_tag 'Post Review' %>
  <% end %>
</center>
