<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <section class="topnav-links">
        <%= link_to "All Merchants", "/merchants", class: "topnav-btn"%>
        <%= link_to "All Items", "/items", class: "topnav-btn"%>
      </section>
      <section id="cart-indicator">
        <%= link_to "/cart" do  %>
          <%= image_tag  "https://cdn0.iconfinder.com/data/icons/shopping-cart-26/1000/Shopping-Basket-03-512.png", id: "cart-pic"%>
        <% end %>
        <span id="num-in-cart">(<%= @cart.total_items %>)</span>
      </section>
    </nav>
    <% flash.each do |type, message| %>
      <% unless message.is_a? Array %>
        <% message = [message] %>
      <% end %>
      <%= content_tag :pre, message.join("\n"), class: "flash", id: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
