<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <p style="color:white; position:absolute; top:0; right:0; padding:0.2px 10px;"><%= link_to "Cart:", '/cart' %><%= cart.total_count %></p> 
    </nav>
    <p class='flash'><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
