<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <topnav id="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="/">Little Shop</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="/merchants">All Merchants <span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link active" href="/items">All Items</a>
           <a class="nav-item nav-link active" href="/cart">Cart: <%= cart.total_count %> </a>
         </div>
       </div>
     </nav>
    </topnav>

    <%= render 'partials/flash_messages' %>

    <%= yield %>
  </body>
</html>
