<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to  "Cart:  #{cart.total_count} ", "/cart"%>
      <%= form_tag("/verified_order", method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag 'Search' %>
      <% end %>
    </nav>
    <header>
      <% flash.each do |type, message| %>
      <center class="flash-message"> <br> <%= message %><center>
        <% end %>
    </header>


    <%= yield %>
  </body>
</html>
