<!DOCTYPE html>
<html>
  <head>
    <title>&#x1F436;E S Pug N &#x1F436;</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <span id="order-check">
        <%= form_tag '/verified_order', method: :get do %>
          <%= text_field_tag :order_key, nil, placeholder: "Enter your order key here"%>
          <%= submit_tag 'Check Order' %>
        <% end %>
      </span>
      <% cart = Cart.new(session[:cart]) %>
      <div style="float:right">
          <%= link_to "All Merchants", "/merchants", style: "padding:75px;"%>
          <%= link_to "All Items", "/items", style: "padding:75px;"%>
          <%= link_to "Items in Cart: #{cart.total_items}", "/cart", style: "padding:75px;" %><%= image_tag 'pug_cart.png', id: 'cart-icon' %>
        </div>
    </nav>
    <div class="flash-message"><% flash.each do |type, message| %>
      <p><%= message %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
