<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "All Orders", "/orders"%>
      <%= link_to "Cart (#{cart.count})", '/cart' %>
    </nav>

    <%= form_tag '/verified_order', method: :get do %>
      <%= label_tag :search %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag 'Search for Order' %>
    <% end %>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
