<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_count}", "/cart" %>
      <nav class="topnav-right">
        <%= link_to("Empty cart", '/cart', method: :delete) if session[:cart] != nil %>
      </nav>
    </nav>

    <div class="flash">
      <% flash.each do |type, message| %>
      <section id="flash-<%= type %>">
        <p><%= message %></p>
      </section>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
